JWT_SECRET=ctse_jwt
INTERNAL_SERVICE_TOKEN=ctse_internal_token
AUTH_MONGO_URI=mongodb+srv://anjana2:anjana@cluster0.rg6ebmf.mongodb.net/CTSE_auth_db
PRODUCT_MONGO_URI=mongodb+srv://anjana2:anjana@cluster0.rg6ebmf.mongodb.net/CTSE_product_db
ORDER_MONGO_URI=mongodb+srv://anjana2:anjana@cluster0.rg6ebmf.mongodb.net/CTSE_order_db
DELIVERY_MONGO_URI=mongodb+srv://anjana2:anjana@cluster0.rg6ebmf.mongodb.net/CTSE_delivery_db
CORS_ORIGIN=http://localhost:5173,http://localhost:5174,https://ctse-assignment-frontend.vercel.app