PORT=3302
AUTH_SERVICE_URL=http://auth-service:3301
PRODUCT_SERVICE_URL=http://product-service:3302
ORDER_SERVICE_URL=http://order-service:3303
DELIVERY_SERVICE_URL=http://delivery-service:3304
MONGO_URI=mongodb+srv://anjana2:anjana@cluster0.rg6ebmf.mongodb.net/CTSE_product_db
JWT_SECRET=ctse_jwt
