PORT=3004
AUTH_SERVICE_URL=http://auth-service:3001
PRODUCT_SERVICE_URL=http://product-service:3002
ORDER_SERVICE_URL=http://order-service:3003
DELIVERY_SERVICE_URL=http://delivery-service:3004
MONGO_URI=mongodb+srv://anjana2:anjana@cluster0.rg6ebmf.mongodb.net/delivery_db
JWT_SECRET=supersecretjwtkey_ctse
